<a href="https://colab.research.google.com/github/marcelinolionel/DMC_Curso_Python1/blob/main/Ex%C3%A1men_Final_Fundamentos_de_Python_Marcelino_Lionel_Mart%C3%ADnez_Ch%C3%A1vez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Realizar un print con tu nombre completo
print("MARCELINO LIONEL MARTÍNEZ CHÁVEZ")

MARCELINO LIONEL MARTÍNEZ CHÁVEZ

#Examen Final - Fundamentos de Python



1.   Desarrollar el examen teórico https://www.questionpro.com/t/ARQPVZjyp0
2.   Enviar los ejercicios de cada sesión.


# **NOTA: Enviar la información hasta las 23:59 PM del 22/11/2020**
Drive: https://drive.google.com/drive/folders/1Dny1t1c4qEy0MZ3_r9oOQjvL9TByoHVU?usp=sharing

### Laboratorio 01 

* Busque un personaje publico de su preferencia en wikipedia
* Haga un diccionario de la manera más simple.
* Haga luego un diccionario usando donde se pueda otras estructuras (listas, tuplas, diccionarios)

Referencia : https://github.com/juansalinasponce/course_python/blob/main/Sesion_02/Sesion02_FDP_Tipos_de_Datos.ipynb

### **Personaje público: "Lapadula"**

In [ ]:
#Diccionario simple
Lapadula={'Nombre':"Gianluca Lapadula Vargas",
          'nacimiento':"7 de febrero de 1990",
          'lugar_nacimiento':"Turín, Piamonte",
          'edad':"30 años",
          'altura':"1,78 m",
          'peso':"72 kg",
          }
Lapadula

{'Nombre': 'Gianluca Lapadula Vargas',
 'altura': '1,78 m',
 'edad': '30 años',
 'lugar_nacimiento': 'Turín, Piamonte',
 'nacimiento': '7 de febrero de 1990',
 'peso': '72 kg'}

In [ ]:
#Construyendo un diccionario, usando otras estructuras:
#Tuplas
carrera=('Fútbol','Benevento Calcio','Serie A','Delantero')
padres='Blanca Aida Vargas Higinio', 'Gianfranco Lapadula'
apodo='Sir William','Lapagol','Bambino de Los Andes','Tanque Inca'
nacionalidad=('Italiana','Peruana')
#Lista
trayectoria=["U. S. Pro Vercelli Calcio (2007-2008)","Ivrea (2008-2009)","Parma F. C. (2009-2012)","Atletico Roma F. C. (2010-2011)",
             "Ravenna F. C. (2011)","San Marino Calcio (2011-2012)","A. C. Cesena (2012-2013)","Frosinone Calcio (2013)","Parma F. C. (2013-2015)",
             "N. D. Gorica (2013-2014)","Teramo Calcio (2014-2015)","Delfino Pescara 1936 (2015-2016)","A. C. Milan (2016-2018)",
             "Genoa C. F. C. (2017-2018)","Genoa C. F. C. (2018-2020)","U. S. Lecce (2019-2020)","Benevento Calcio (2020-Act.)"]

In [ ]:
#Diccionario (unificado)
Lapadula={'Nombre':"Gianluca Lapadula Vargas",
          'apodo':apodo,
          'padres':padres,
          'nacimiento':"7 de febrero de 1990",
          'lugar_nacimiento':"Turín, Piamonte",
          'nacionalidad':nacionalidad,
          'edad':"30 años",
          'altura':"1,78 m",
          'peso':"72 kg",
          'carrera':carrera,
          'trayectoria':trayectoria
          }
Lapadula

{'Nombre': 'Gianluca Lapadula Vargas',
 'altura': '1,78 m',
 'apodo': ('Sir William', 'Lapagol', 'Bambino de Los Andes', 'Tanque Inca'),
 'carrera': ('Fútbol', 'Benevento Calcio', 'Serie A', 'Delantero'),
 'edad': '30 años',
 'lugar_nacimiento': 'Turín, Piamonte',
 'nacimiento': '7 de febrero de 1990',
 'nacionalidad': ('Italiana', 'Peruana'),
 'padres': ('Blanca Aida Vargas Higinio', 'Gianfranco Lapadula'),
 'peso': '72 kg',
 'trayectoria': ['U. S. Pro Vercelli Calcio (2007-2008)',
  'Ivrea (2008-2009)',
  'Parma F. C. (2009-2012)',
  'Atletico Roma F. C. (2010-2011)',
  'Ravenna F. C. (2011)',
  'San Marino Calcio (2011-2012)',
  'A. C. Cesena (2012-2013)',
  'Frosinone Calcio (2013)',
  'Parma F. C. (2013-2015)',
  'N. D. Gorica (2013-2014)',
  'Teramo Calcio (2014-2015)',
  'Delfino Pescara 1936 (2015-2016)',
  'A. C. Milan (2016-2018)',
  'Genoa C. F. C. (2017-2018)',
  'Genoa C. F. C. (2018-2020)',
  'U. S. Lecce (2019-2020)',
  'Benevento Calcio (2020-Act.)']}

### Laboratorio 02

Escribir un programa que reciba el siguiente texto y muestre:
* Cantidad de palabras distintas
* Frecuencia de cada palabra encontrada

`Un texto narrativo es aquel texto que cuenta una historia que se desarrolla en un período de tiempo y un lugar determinado. La narración hace referencia a la manera de contar la historia, en forma de secuencia o como una serie de acciones que realizan los personajes, y que permite al lector imaginarse la situación.`

Referencia: https://github.com/juansalinasponce/course_python/blob/main/Sesion_04/Sesi%C3%B3n04_FDP_OG7_Fechas_String.ipynb

In [ ]:
#Desarrolla Aquí tu código
print("Texto inicial:")
texto = 'Un texto narrativo es aquel texto que cuenta una historia que se desarrolla en un período de tiempo y un lugar determinado. La narración hace referencia a la manera de contar la historia, en forma de secuencia o como una serie de acciones que realizan los personajes, y que permite al lector imaginarse la situación.'
print(f"{texto}\n")   #Texto inicialmente
texto = texto.replace('.', '')   #Quitamos los puntos del texto
texto = texto.replace(',', '')   #Quitamos las comas del texto
lista = texto.lower().split()    #Construimos una lista de las palabras en minúscula (homogenizamos texto)

lista_sin_duplicado = []
frecuencia = []
for i in lista:
  if i not in lista_sin_duplicado:
    lista_sin_duplicado.append(i)
    frecuencia.append(lista.count(i))

print(f"*Cantidad de palabras distintas        : {len(lista_sin_duplicado)}")
print(f"*Frecuencia de cada palabra encontrada :")
print(list(zip(lista_sin_duplicado,frecuencia)))   #Frecuencia de cada palabra encontrada

Texto inicial:
Un texto narrativo es aquel texto que cuenta una historia que se desarrolla en un período de tiempo y un lugar determinado. La narración hace referencia a la manera de contar la historia, en forma de secuencia o como una serie de acciones que realizan los personajes, y que permite al lector imaginarse la situación.

*Cantidad de palabras distintas        : 39
*Frecuencia de cada palabra encontrada :
[('un', 3), ('texto', 2), ('narrativo', 1), ('es', 1), ('aquel', 1), ('que', 4), ('cuenta', 1), ('una', 2), ('historia', 2), ('se', 1), ('desarrolla', 1), ('en', 2), ('período', 1), ('de', 4), ('tiempo', 1), ('y', 2), ('lugar', 1), ('determinado', 1), ('la', 4), ('narración', 1), ('hace', 1), ('referencia', 1), ('a', 1), ('manera', 1), ('contar', 1), ('forma', 1), ('secuencia', 1), ('o', 1), ('como', 1), ('serie', 1), ('acciones', 1), ('realizan', 1), ('los', 1), ('personajes', 1), ('permite', 1), ('al', 1), ('lector', 1), ('imaginarse', 1), ('situación', 1)]

### Laboratorio 03

Considere el siguiente diccionario data y lista de index

a. Crea un DataFrame a partir del diccionario y los índices.

b. Selecciona las columnas animaly age.

c. Indique cuantos tipos distintos de animales hay.

d. Indique cuantos animales hay de cada tipo.

e. Muestre un resumen estadístico de todas las variables.

In [ ]:
#Desarrolle su código
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']



# **Solución:**

In [ ]:
#a. Crea un DataFrame a partir del diccionario y los índices.
import pandas as pd
tabla=pd.DataFrame(data,labels)
tabla

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
#b. Selecciona las columnas animaly age.
tabla[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [ ]:
#c. Indique cuantos tipos distintos de animales hay.
tabla[['animal']].nunique()

animal    3
dtype: int64

In [ ]:
#d. Indique cuantos animales hay de cada tipo.
tabla[['animal']].value_counts()

animal
dog       4
cat       4
snake     2
dtype: int64

In [ ]:
#e. Muestre un resumen estadístico de todas las variables.
tabla.describe(include='all')

       animal       age     visits priority
count      10  8.000000  10.000000       10
unique      3       NaN        NaN        2
top       dog       NaN        NaN       no
freq        4       NaN        NaN        6
mean      NaN  3.437500   1.900000      NaN
std       NaN  2.007797   0.875595      NaN
min       NaN  0.500000   1.000000      NaN
25%       NaN  2.375000   1.000000      NaN
50%       NaN  3.000000   2.000000      NaN
75%       NaN  4.625000   2.750000      NaN
max       NaN  7.000000   3.000000      NaN