<a href="https://colab.research.google.com/github/marcelinolionel/DMC_Curso_Python1/blob/main/Sesion01_introduction_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sesión 01 - Introducción a python**

En esta sección revisaremos cuáles son las estructuras de datos y tipos básicos con los que cuenta este lenguaje. Paso previo, revisaremos algunos conceptos importantes indispensables para la comprensión del lenguaje.

##  **CONCEPTOS BÁSICOS**


**Objeto**

Componente que se aloja en la memoria y que tiene asociados una serie de vectores y operaciones que pueden ser realizadas con él. Un objeto en Python puede ser una cadena de texto, un número real, un diccionario o un objeto propiamente dicho, según el paradigma OOP, creado a partir de una clase determinada. En otros lenguajes de programación se emplea el término estructura de datos para referirse al objeto. Podemos considerar ambos términos como equivalentes.


**Tipado dinámico**

Python al declarar una variable no se puede indicar su tipo. En la ejecución, el tipo será asignado a la variable, empleando una técnica conocida como tipado dinámico.

**¿Cómo diferencia el intérprete entre diferentes tipos y estructuras de datos?**

La respuesta se encuentra en el funcionamiento interno que realiza el intérprete de la memoria. Cuando se asigna a una variable un valor, el intérprete, en tiempo de ejecución, realiza un proceso que consiste en varios pasos:



1.   Se crea un objeto en la memoria con el valor asignado.
2.   Se comprueba de que exista la variable, si no es así se crea una referencia que enlaza la nueva variable con el objeto.
3.   Si por el contrario ya existe la variable, entonces, se cambia la referencia hacia el objeto creado.

**Tanto las variables como los objetos se almacenan en diferentes zonas de la memoria.**

Gracias al tipado dinámico podemos, en el mismo bloque de código, asignar diferentes tipos de datos a la misma variable, siendo el intérprete en tiempo de ejecución el que se encargará de crear los objetos y referencias que sean necesarios.

Para ejemplificar el proceso ingresaremos el siguiente código:

1. Crear variables

In [ ]:
x = 8
y = x

2.   Consultar variable

In [ ]:
x

8

In [ ]:
y

8

3. Mostrar en Pantalla

In [ ]:
print("La variable es:", x)

La variable es: 8

# **TIPOS DE DATOS**

*   booleano
*   Numéricos
*   Cadenas(string)
*   Listas
*   Tuplas
*   Diccionarios
*   DataFrames

###booleano

Las variables booleanas solo pueden tener los valores True o False.

In [ ]:
b1 = True
b2 = True
b3 = False

In [ ]:
type(b1)

bool

###Numéricos
Estos tipos de datos se crean mediante literales numéricos y se devuelven como resultados por operadores aritméticos y funciones aritméticas integradas.

In [ ]:
num_entero = 8

In [ ]:
#en el contexto de los números enteros
num_negativo = -100

In [ ]:
num_real = 4.5

In [ ]:
#otra manera de expresar un número real es:
num_real = 0.5e-7

In [ ]:
#números formados por una parte real y otra imaginaria
num_complejo = 3.2 + 7j

####Sistemas de representación

**Python** puede representar los números enteros en los sistemas decimal, octal, binario y hexadecimal. 

Para la representación decimal no es necesario indicar nada más que el número en cuestión. Sin embargo, para el resto de sistemas es necesario que el número sea precedido por uno o dos caracteres concretos.

In [ ]:
#el número 7 en binario se representa de la siguiente forma:
num_binario = 0b111

In [ ]:
num_binario

In [ ]:
#el número 8 en octak se representa de la siguiente forma:
num_octal = 0o10

In [ ]:
num_octal

In [ ]:
#el número 255 en el sistema hexadecimal se representa de la siguiente forma:
num_hex = 0xff

In [ ]:
num_hex

###Cadenas de texto

Las cadenas de texto (strings) son otro de los tipos de datos más utilizados en programación. Una Cadena de texto es un conjunto inmutable y ordenado de caracteres. Para su representación y definición se pueden utilizar tanto comillas dobles ("), como simples (').

In [ ]:
cadena = "esto es una cadena de texto"

In [ ]:
cadena2 = """Esta cadena de texto
tiene más de una línea. En concreto, cuenta
con tres líneas diferentes"""

In [ ]:
type(cadena2)

str

####Tipos

Por defecto todas las cadenas de texto son Unicode. Así, cualquier string declarado en Python será automáticamente de tipo Unicode. Los tipos son:

1. Unicode
2. Byte
3. Bytearray.

#####Byte
El tipo byte solo admite caracteres en codificación ASCII y, al igual que los de tipo Unicode, son inmutables.

Para declarar un string de tipo byte, basta con anteponer la letra b antes de las comillas:

In [ ]:
cad = b"cadena de tipo byte"

In [ ]:
type(cad)

bytes

#####Bytearray

El tipo **bytearray** es una versión mutable del tipo byte.
La declaración de un tipo bytearray debe hacerse utilizando la función integrada que nos ofrece el intérprete. Además, es imprescindible indicar el tipo de codificación que deseamos emplear. El siguiente ejemplo utiliza la codificación de los caracteres latin1 para crear un string de este tipo:

In [ ]:
lat = bytearray("España", "latin1")
print(lat)

bytearray(b'Espa\xf1a')

In [ ]:
str = "España"
array1 = bytearray(str, 'utf-8') 
print(array1)

bytearray(b'Espa\xc3\xb1a')

In [ ]:
bytearray("España", "utf16")

bytearray(b'\xff\xfeE\x00s\x00p\x00a\x00\xf1\x00a\x00')

encode(): transforma un tipo str en tipo byte

In [ ]:
cad = "es de tipo str"
cad.encode()

b'es de tipo str'

decode(): transforma un tipo byte en tipo str

In [ ]:
cad = b"es de tipo byte"
cad.decode()

###Listas

Las listas contienen valores de cualquier tipo simple (numérico o no numérico), y podrían ser estructuras compuestas (lista de listas). Si usamos como referencia a una hoja de calculo con datos sobre individuos, una lista podria ser una fila que tiene los datos de los individuos.

In [ ]:
Estudiante=["Manuel Ponte",23,"False"]

El object ‘Estudiante’ almacena temporalmente la lista en la computadora. Los nombre pueden contener letras del alfabeto y números (y algunos caracteres de puntuación), pero no debe comenzar con un número.

En el código anterior, sólo se ha pedido crear la lista. Python lo ejecuta y nada más, no tienes que esperar ningún mensaje ni resultado. Si quieres ver lo que has creado, escribelo de manera explicita, así:

In [ ]:
Estudiante

Nota que hay varios tipos de datos en la lista:

Nombre y apellido es texto o caracteres.
* edad es un numero.
* Mujer es un valor lógico.
* Para acceder a cada uno de los elemento tu lista:

In [ ]:
Estudiante[0] # primer elemento comienza con indice '0'

In [ ]:
Estudiante[:2] # todo antes de índice 2

In [ ]:
Estudiante[-1] # ultimo elementos

###Tuplas

En Python una tupla es una estructura de datos que representa una colección de objetos, pudiendo estos ser de distintos tipos. Internamente, para representar una tupla, Python utiliza un array de objetos que almacena referencias hacia otros objetos.

Al principio parace que fueran listas:

In [ ]:
Estudiante[0]='Omar Escobedo'
Estudiante


Para crearlas puedes usar '( )', el comando tuple() o nada:

In [ ]:
Estudiantetupla='Karolayne Pacherres',23,'True'
Estudiantetupla

('Karolayne Pacherres', 23, 'True')

In [ ]:
#Se puede realizar la consulta a través del índice que ocupa en la misma.
#exactamente igual que un array
Estudiantetupla[0]

'Karolayne Pacherres'

Dado que una tupla puede almacenar distintos tipos de objetos, es posible anidar diferentes tuplas; veamos un sencillo ejemplo:

In [ ]:
t = (1, ("a", 3), 5.6)
t

(1, ('a', 3), 5.6)

###Diccionario
Los Diccionarios, superficialmente, son lo más similares a las listas de R

In [ ]:
# creando diccionarios:
EstudianteDict={'Nombres':"Manuel Ponte",
               'edad':23,
               'femenino':False}
#en los diccionarios se deben indicar los nombres de los atributos
# seeing it:
EstudianteDict

{'Nombres': 'Manuel Ponte', 'edad': 23, 'femenino': False}

Pero no tienen índices:

In [ ]:
EstudianteDict[0]

KeyError: ignored

Pare ver un elemento, tienes que saber el nombre de su campo ('key'):

In [ ]:
EstudianteDict['edad']

23

In [ ]:
type(EstudianteDict)

dict

### Data Frames

Los Data Frames pueden interpretarse como estructuras compuestas en base a las simples. Python requiere que llamemos al paquete pandas para usar DFs:

In [ ]:
import pandas as pd

# estas son columnas:
#listas de columnas

nombres=["Manuel", "Karen", "Karolayne", "Omar"]
edad=[23,29,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bach", "Lic", "Bach", "PhD"]

In [ ]:
# las llevamos a diccionario:
data={'nombres':nombres, 'edad':edad, 'pais':pais, 'educacion':educacion}

...y de dict a DF:

In [ ]:
estudiantes=pd.DataFrame(data)
# check it:
estudiantes

     nombres  edad       pais educacion
0     Manuel    23    Ecuador      Bach
1      Karen    29       Perú       Lic
2  Karolayne    23     Brasil      Bach
3       Omar    26  Argentina       PhD

In [ ]:
type(estudiantes)

#PRACTICA 01

1.   Busque un personaje publico de su preferencia en wikipedia
2.   Haga un diccionario de la manera más simple.
3.   Haga luego un diccionario usando donde se pueda otras estructuras (listas, tuplas, diccionarios)

In [ ]:
Bachelet={'nombre en español':"Verónica Michelle Bachelet Jeria",
               'nacimiento':"29 de septiembre de 1951",
               'Residencia':"Santiago, Chile",
         'nacionalidad':"Chilena",
         'lengua materna':"Español",
         'religión':"Agnosticismo",
         'partido político':"Partido Socialista",
         'padres':"Ángela Jeria Gómez , Alberto Bachelet Martínez",
         'cónyugue':"Jorge Dávalos Cartes",
         'hijos':"Sebastián , Francisca , Sofía",
         'educada en':"Universidad de Chile",
         'ocupación':"médico",}
Bachelet

{'Residencia': 'Santiago, Chile',
 'cónyugue': 'Jorge Dávalos Cartes',
 'educada en': 'Universidad de Chile',
 'hijos': 'Sebastián , Francisca , Sofía',
 'lengua materna': 'Español',
 'nacimiento': '29 de septiembre de 1951',
 'nacionalidad': 'Chilena',
 'nombre en español': 'Verónica Michelle Bachelet Jeria',
 'ocupación': 'médico',
 'padres': 'Ángela Jeria Gómez , Alberto Bachelet Martínez',
 'partido político': 'Partido Socialista',
 'religión': 'Agnosticismo'}

In [ ]:
padres=["Ángela Jeria Gómez","Alberto Bachelet Martínez"]
hijos=["Sebastián","Francisca", "Sofía"]

In [ ]:
Bachelet={'nombre en español':"Verónica Michelle Bachelet Jeria",
               'nacimiento':"29 de septiembre de 1951",
               'Residencia':"Santiago, Chile",
         'nacionalidad':"Chilena",
         'lengua materna':"Español",
         'religión':"Agnosticismo",
         'partido político':"Partido Socialista",
         'padres':padres,
         'cónyugue':"Jorge Dávalos Cartes",
         'hijos':hijos,
         'educada en':"Universidad de Chile",
         'ocupación':"médico",}
Bachelet

{'Residencia': 'Santiago, Chile',
 'cónyugue': 'Jorge Dávalos Cartes',
 'educada en': 'Universidad de Chile',
 'hijos': ['Sebastián', 'Francisca', 'Sofía'],
 'lengua materna': 'Español',
 'nacimiento': '29 de septiembre de 1951',
 'nacionalidad': 'Chilena',
 'nombre en español': 'Verónica Michelle Bachelet Jeria',
 'ocupación': 'médico',
 'padres': ['Ángela Jeria Gómez', 'Alberto Bachelet Martínez'],
 'partido político': 'Partido Socialista',
 'religión': 'Agnosticismo'}

In [ ]:
type(Bachelet)

dict

# **TAREA:**

In [ ]:
#Diccionario simple
Lapadula={'Nombre':"Gianluca Lapadula Vargas",
          'nacimiento':"7 de febrero de 1990",
          'lugar_nacimiento':"Turín, Piamonte",
          'edad':"30 años",
          'altura':"1,78 m",
          'peso':"72 kg",
          }
Lapadula

{'Nombre': 'Gianluca Lapadula Vargas',
 'altura': '1,78 m',
 'edad': '30 años',
 'lugar_nacimiento': 'Turín, Piamonte',
 'nacimiento': '7 de febrero de 1990',
 'peso': '72 kg'}

In [ ]:
#Construyendo un diccionario, usando otras estructuras:
#Tuplas
carrera=('Fútbol','Benevento Calcio','Serie A','Delantero')
padres='Blanca Aida Vargas Higinio', 'Gianfranco Lapadula'
apodo='Sir William','Lapagol','Bambino de Los Andes','Tanque Inca'
nacionalidad=('Italiana','Peruana')

In [ ]:
#Lista
trayectoria=["U. S. Pro Vercelli Calcio (2007-2008)","Ivrea (2008-2009)","Parma F. C. (2009-2012)","Atletico Roma F. C. (2010-2011)",
             "Ravenna F. C. (2011)","San Marino Calcio (2011-2012)","A. C. Cesena (2012-2013)","Frosinone Calcio (2013)","Parma F. C. (2013-2015)",
             "N. D. Gorica (2013-2014)","Teramo Calcio (2014-2015)","Delfino Pescara 1936 (2015-2016)","A. C. Milan (2016-2018)",
             "Genoa C. F. C. (2017-2018)","Genoa C. F. C. (2018-2020)","U. S. Lecce (2019-2020)","Benevento Calcio (2020-Act.)"]

In [ ]:
#Diccionario (unificado)
Lapadula={'Nombre':"Gianluca Lapadula Vargas",
          'apodo':apodo,
          'padres':padres,
          'nacimiento':"7 de febrero de 1990",
          'lugar_nacimiento':"Turín, Piamonte",
          'nacionalidad':nacionalidad,
          'edad':"30 años",
          'altura':"1,78 m",
          'peso':"72 kg",
          'carrera':carrera,
          'trayectoria':trayectoria
          }
Lapadula

In [ ]:
#Hacemos un DataFrame
import pandas as pd
data={'Apodo':apodo,'Carrera':carrera}
pd.DataFrame(data)

In [ ]:
titulares_seleccion=["Gallese","Abram","Zambrano","Advincula","Trauco","Yotun","Tapia","Cueva","Flores","Carrillo","Lapadula"]
titulares_seleccion

['Gallese',
 'Abram',
 'Zambrano',
 'Advincula',
 'Trauco',
 'Yotun',
 'Tapia',
 'Cueva',
 'Flores',
 'Carrillo',
 'Lapadula']

In [ ]:
paises_fronterizos=["Ecuador","Colombia","Brasil","Bolivia","Chile"]
paises_fronterizos

['Ecuador', 'Colombia', 'Brasil', 'Bolivia', 'Chile']